<div>
  <div class="container">
    <h1> Sandra Quispe </h1>
  </div>
  <h1>Ejercicio del dado</h1>

  <div>
    <div style="text-align:center">
      <app-dado [valor]="valor1"></app-dado>
      <app-dado [valor]="valor2"></app-dado>
      <app-dado [valor]="valor3"></app-dado>
      <hr>
      <button (click)="tirar()">Tirar</button>
      <hr>
      <p>Resultado:{{resultado}}</p>
  </div>
  
  </div>

  <h1>Ejercicio del cronometro</h1>

  <div style="text-align:center">
    <h1>Prueba de la componente cronometro</h1>
    <app-cronometro [inicio]="15" (multiplo10)="actualizar($event)"></app-cronometro>
    <h2>Evento</h2>
    <h3>{{mensaje}}</h3>
  </div>

  <h1>Ejercicio del Selector Numerico</h1>

  <div class="main">
    <app-selectornumerico [minimo]="1" [maximo]="10" #selector1></app-selectornumerico>
    <br>
    <button (click)="fijarSelector1(1)">Fijar en 1</button><br>
    <button (click)="fijarSelector1(5)">Fijar en 5</button><br>
    <button (click)="fijarSelector1(10)">Fijar en 10</button>

  </div>

</div>